body {
    background-color: black;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

#time {
    position: absolute;
    width: 18%;
    text-align: center;
    height: 170px;
    overflow: hidden;
    display: inline-block;
    margin-left: -5px;
    box-sizing: border-box;
    left: 41%;
    top: 30%;
    border-radius: 40px;
    border: 5px solid orange;
    z-index: 90;
    animation-delay: 1s;
    animation-name: bordercolor;
    animation-duration: 11s;
}

@keyframes bordercolor {
    40% {
        border-color: darkorange;
    }
    100% {
        border-color: darkred;
        visibility: hidden;
    }
}

.second {
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 200px;
    height: 180px;
    width: 100%;
    color: orange;
    line-height: 1;
    animation-delay: 1s;
    animation-name: seconds;
    animation-duration: 11s;
    animation-fill-mode: forwards;
    z-index: 90;
}

#five,
#six,
#seven {
    color: darkorange;
}

#zero,
#one,
#two,
#three,
#four {
    color: darkred;
}

@keyframes seconds {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-180px);
    }
    20% {
        transform: translateY(-360px);
    }
    30% {
        transform: translateY(-540px);
    }
    40% {
        transform: translateY(-720px);
    }
    50% {
        transform: translateY(-900px);
    }
    60% {
        transform: translateY(-1080px);
    }
    70% {
        transform: translateY(-1260px);
    }
    80% {
        transform: translateY(-1440px);
    }
    90% {
        transform: translateY(-1620px);
    }
    100% {
        transform: translateY(-1800px);
    }
}

#shoot {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../img/shoot.gif);
    background-position: center;
    background-size: cover;
    z-index: 100;
    animation-delay: 12s;
    animation-name: shoots;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes shoots {
    100% {
        visibility: visible;
    }
}

#love {
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 140px;
    color: darkred;
    height: 20%;
    width: 100%;
    top: 40%;
    animation-delay: 12s;
    animation-name: scroll-left;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
